/* 重置样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Footer */
footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232739;
    -webkit-text-fill-color: #fff1d1;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0; 
}

/* Header */
/* Header */
header {
    padding: 0 20px;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
}

/* 导航样式 */
header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 20px; /* 调整间距 */
    display: inline;
}

/* 链接样式 */
header nav a {
    text-decoration: none; /* 取消默认下划线 */
    color: #ffffff; 
    font-weight: bold;
    padding: 5px 10px;
    position: relative; /* 为伪元素提供定位上下文 */
    transition: color 0.3s; /* 文字颜色过渡效果 */
    
}

header nav a:hover {
    color: #ffd587; /* 悬停时的文字颜色，可调整 */
}

/* 伪元素创建直角 */
header nav a::before,
header nav a::after {
    content: '';
    position: absolute;
    width: 10px; /* 直角大小 */
    height: 10px;
    opacity: 0; /* 默认隐藏 */
    transition: opacity 0.3s; /* 透明度过渡效果 */
}

header nav a::before {
    top: 0;
    left: 0;
    border-top: 2px solid #ffd587; /* 左上直角，颜色与悬停一致 */
    border-left: 2px solid #ffd587;
}

header nav a::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #ffd587; /* 右下直角 */
    border-right: 2px solid #ffd587;
}

header nav a:hover::before,
header nav a:hover::after {
    opacity: 1; /* 悬停时显示直角 */
}
/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('/images/Tingyun.jpg'); /* 替换为实际背景图片路径 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    padding: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; /* 防止滚动条出现在页面顶部 */
}

/* .welcome 部分，固定在屏幕上 */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    position: relative;
    color: #ffffff; 
}

/* 标题样式 */
.welcome h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* 段落样式 */
.welcome p {
    font-size: 12px;
    margin-bottom: 20px;
}
