@use 'variables' as *;

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-footer;
    border-top: 1px solid $border-color;
    width: 100%;
    margin-top: auto;

    p {
        margin: 0;
        font-family: $font-family-sans;
        font-size: 13px;
        color: $text-color-secondary;
    }
}