// Colors
$bg-color-footer: #232739;
$text-color-footer: #fff1d1;
$text-color-light: #ffffff;
$accent-color: #ffd587;
$bg-overlay: rgba(0, 0, 0, 0.3);

// Fonts
$font-family-serif: "Times New Roman", Times, serif;
$font-family-sans: Arial, sans-serif;